.container{
  background-color: #0f0f0f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 76px);
}

.logoContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.heroImage{
  max-width: 480px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.title{
  color: #fff;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 150%;
}

.infoContent{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.box{
  background-color: #fafafa;
  padding: 14px 44px;
  border-radius: 4px;
  transition: transform 0.4s;
}

.box:hover{
  transform: scale(1.08);
}

@media screen and (max-width: 580px){
  .heroImage{
    max-width: 80%;
  }

  .title{
    font-size: 24px;
  }

  .infoContent{
    flex-direction: column;
  }

  .box{
    width: 80%;
    margin-bottom: 14px;
    text-align: center;
  }
}